<div class='backdrop'>
  <div class='lightbox-container'>
    <ion-icon name='close-sharp' {{on 'click' @closeLightbox}}></ion-icon>

    <div class='lightbox-image'>
      <span class='prev' {{on 'click' this.prevProduct}}>
        <ion-icon name='chevron-back-outline'></ion-icon>
      </span>
      <img
        src='/assets/images/image-product-{{this.productNumber}}.jpg'
        alt=''
      />
      <span class='next' {{on 'click' this.nextProduct}}><ion-icon
          name='chevron-forward-outline'
        ></ion-icon></span>
    </div>

    <div class='thumbnail lightbox-thumbnail'>
      {{#each this.productNumbers as |productId|}}
        <div class='{{if (equal this.productNumber productId) "active"}}'>
          <img
            src='/assets/images/image-product-{{productId}}-thumbnail.jpg'
            alt=''
            {{on 'click' (fn this.switchProduct productId)}}
          />
        </div>
      {{/each}}
    </div>
  </div>
</div>