<nav>
  <div class='navbar'>
    <div class='hamburger' {{on 'click' this.openNavbar}}><img
        src='/assets/images/icon-menu.svg'
        alt=''
      /></div>
    <div class='logo'>
      <img src='/assets/images/logo.svg' alt='' />
    </div>

    <ul class='desktop-nav'>
      <li>Collection</li>
      <li>Men</li>
      <li>Women</li>
      <li>About</li>
      <li>Contact</li>
    </ul>

    {{#if this.showNavbar}}
      <ul>
        <li class='close'><ion-icon
            name='close-sharp'
            {{on 'click' this.closeNavbar}}
          ></ion-icon></li>
        <li>Collection</li>
        <li>Men</li>
        <li>Women</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    {{/if}}

    <div class='cart-avatar'>
      <div class='cart-icon' {{on 'click' this.toggleCart}}>
        <ion-icon name='cart-outline'></ion-icon>
        {{#if @quantity}}
          <div class='basket'>{{@quantity}}</div>
        {{/if}}
      </div>
      <img src='/assets/images/image-avatar.png' alt='' />
    </div>
    {{#if this.showCart}}
      <div class='cart'>
        <h1>Cart</h1>
        {{#if @quantity}}
          <div class='cart-details'>
            <div>
              <img src='/assets/images/image-product-1-thumbnail.jpg' alt='' />
              <div>
                <h2>{{@itemName}}</h2>
                <h3>${{@price}}.00 x
                  {{@quantity}}
                  <span>${{@total}}.00</span>
                </h3>
              </div>
              <img
                src='/assets/images/icon-delete.svg'
                alt=''
                class='delete'
                {{on 'click' @clearCart}}
              />
            </div>
            <button class='checkout'>
              Checkout
            </button>
          </div>
        {{else}}
          <div class='empty-cart'>
            <p>Your cart is empty.</p>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</nav>